:root {
  --black: #000000;
  --header-bottom-bg: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --search: rgba(255, 255, 255, 0.85);
  --text: #333333;
  --royal-purple: #7943a4;
  --heliotrope: #c283f3;
  --amethyst: #9d5cd0;
  --biloba-flower: #d1a9f0;
  --drop-bg: rgba(194, 131, 243, 0.4);
  --dusty-gray: #999999;
  --select-active-bg: rgba(255, 255, 255, 0.2);
  --dove-gray: #666666;
  --gallery: #ececec;
  --silver: #cacaca;
  --error: #d11616;
}

@media (max-width: 1350px) {
  /* catalog */
  .accordion__painter-list {
    columns: 2;
  }

  .temporary-stub__left {
    max-width: 189px;
    min-height: 130px;
  }

  .temporary-stub__left::before {
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
  }

  /* contacts */
  .contacts__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .callback {
    margin: 0;
    margin-bottom: 30px;
  }

  .address {
    margin: 0;
    margin-bottom: 30px;
  }

  .address__place {
    margin-bottom: 10px;
  }

  .messenger {
    max-width: none;
  }
}

@media (max-width: 1024px) {
  /* header */
  .header__top {
    position: relative;
  }

  .header__top-container {
    padding-bottom: 27px;
  }

  .header__bottom {
    display: none;
  }

  .burger {
    display: flex;
    align-items: center;
  }

  .nav {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 37px 48px;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    overflow: scroll;
    transform: translateX(-1300px);
    visibility: hidden;
  }

  .nav--active {
    transform: translateX(0);
    visibility: visible;
  }

  .nav__close-btn {
    display: inline-block;
    margin-bottom: 27px;
    transform: translateX(2px);
  }

  .nav__list {
    flex-direction: column;
    margin-bottom: auto;
  }

  .nav__item {
    margin: 0;
  }

  .nav__link {
    font-size: 24px;
    line-height: 64px;
  }

  .nav__link::before {
    top: 16px;
    bottom: 12px;
    left: -6px;
    right: -6px;
  }

  .enter {
    margin-top: 25px;
    border: 2px solid var(--amethyst);
    border-radius: 100px;
    padding: 17px 94px 14px 85px;
    transform: translateX(2px);
  }

  .enter.focus-visible {
    border-color: var(--royal-purple);
    background-color: var(--royal-purple);
  }

  .enter.focus-visible::before {
    display: none;
    background: transparent;
  }

  .header__logo-link {
    transform: translate(-3px, 1px);
  }

  .open-search {
    display: inline-block;
  }

  .search--top {
    display: flex;
  }

  /* hero */
  .hero {
    padding: 105px 0 115px;
  }

  .hero__descr {
    margin-bottom: 123px;
    max-width: 660px;
    transform: translateY(-11px);
  }

  .top-swiper__slide--first {
    background-image: url("../img/hero-1-1024.jpg");
  }

  .top-swiper__slide--second {
    background-image: url("../img/hero-2-1024.jpg");
  }

  .top-swiper__slide--third {
    background-image: url("../img/hero-3-1024.jpg");
  }

  /* gallery */
  .gallery {
    background-image: url("../img/gallery-bg-1024.jpg");
  }

  .gallery__left {
    width: calc(280 / 925 * 100%);
  }

  .checkboxes {
    padding-bottom: 35px;
  }

  .gallery__right {
    width: calc(595 / 925 * 100%);
  }

  .swiper-navigation {
    padding: 0 1px;
  }

  /* catalog */
  .catalog__left {
    width: calc(437 / 925 * 100%);
  }

  .painter-card__img {
    margin-bottom: 27px;
  }

  .painter-card__name {
    margin-bottom: 10px;
  }

  .painter-card__lifetime {
    margin-bottom: 15px;
  }

  .empty-card__name {
    margin-bottom: 8px;
  }

  .empty-card__descr {
    max-width: 430px;
    line-height: 22px;
  }

  .accordion {
    width: calc(437 / 925 * 100%);
  }

  /* events */
  .events {
    padding-bottom: 80px;
  }

  .btn-prev--light-big,
  .btn-next--light-big {
    display: none;
  }

  .event-card {
    min-height: 683px;
  }

  .event-card__content {
    padding: 14px 33px 48px;
  }

  .event-card__museum,
  .event-card__duration {
    text-align: right;
    font-weight: 400;
  }

  .event-card__duration {
    margin-bottom: 4px;
  }

  .event-card__title {
    margin-bottom: 5px;
  }

  .events__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: block;
  }

  /* projects */
  .partners__content {
    padding: 0 53px;
  }

  .partner {
    min-height: 128px;
  }

  /* contacts */
  .contacts__top {
    padding: 42px 0;
  }

  .address__location {
    font-size: 14px;
    line-height: 19px;
  }

  .callback {
    max-width: none;
  }

  .callback__btn {
    padding: 10px 40px;
    min-width: 343px;
  }

  /* footer */
  .footer {
    padding: 41px 0 36px;
  }

  .social__icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {
  /* catalog */
  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__left {
    width: auto;
  }

  .accordion {
    margin-bottom: 50px;
    width: auto;
  }

  .accordion__painter-list {
    columns: 3;
  }

  .temporary-stub__left {
    max-width: 275px;
    min-height: 189px;
  }

  .temporary-stub__left::before {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  /* contacts */
  .callback {
    flex-wrap: wrap;
  }

  .callback__input-wrap {
    margin: 0;
    margin-bottom: 12px;
    width: calc((100% - 20px) / 2);
    max-width: none;
  }

  .callback__btn {
    min-width: 317px;
    padding: 11px 28px 10px;
  }
}

@media (max-width: 768px) {
  /* header */
  .header__logo-link {
    transform: translate(-4px, 1px);
  }

  .nav {
    padding-left: 49px;
  }

  .open-search__icon {
    width: 27px;
    height: 27px;
  }

  .search--top {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    width: auto;
    transform: translateY(-150px);
  }

  .search--active {
    transform: translateY(0);
  }

  .search__close-btn {
    transform: translate(0);
  }

  .search__close-btn .close-btn__icon {
    width: 29px;
    height: 29px;
  }

  /* hero */
  .top-swiper__slide--first {
    background-image: url("../img/hero-1-768.jpg");
  }

  .top-swiper__slide--second {
    background-image: url("../img/hero-2-768.jpg");
  }

  .top-swiper__slide--third {
    background-image: url("../img/hero-3-768.jpg");
  }

  /* gallery */
  .gallery {
    background-image: url("../img/gallery-bg-768.jpg");
  }

  .gallery__container {
    flex-direction: column;
  }
  .gallery__left {
    margin-bottom: 40px;
    width: auto;
    max-width: 281px;
  }
  .gallery__filter {
    margin-bottom: 40px;
  }

  .checkboxes {
    margin: 0;
    padding: 0;
  }

  .gallery__right {
    padding: 0;
    width: auto;
  }

  /* catalog */
  .catalog__descr {
    margin-bottom: 20px;
  }

  .painter-card__img {
    margin-bottom: 17px;
  }

  .painter-card__lifetime {
    margin-bottom: 5px;
  }

  .empty-card__img {
    margin-bottom: 28px;
  }

  /* events */
  .event-card__museum,
  .event-card__duration {
    transform: translate(15px, 1px);
  }

  /* projcets */
  .projects__descr {
    margin-bottom: 28px;
  }

  .projects__partners-title {
    margin-bottom: 29px;
  }

  .partner {
    min-height: 106px;
  }
}

@media (max-width: 665px) {
  /* global */
  .container {
    padding: 0 15px;
  }

  /* header */
  .header__top-container {
    padding-top: 9px;
    padding-bottom: 11px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line {
    width: 16px;
    height: 2px;
  }

  .burger__line::before {
    top: 0;
    height: 2px;
  }

  .burger__line::after {
    bottom: 0;
    right: 15px;
    height: 2px;
  }

  .header__logo-link {
    transform: translate(-3px, 3px);
  }

  .nav {
    padding: 15px;
    padding-bottom: 26px;
  }

  .nav__close-btn {
    margin-bottom: 13px;
    transform: translateX(1px);
  }

  .nav__close-btn .close-btn__icon {
    width: 15px;
    height: 15px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .enter {
    padding: 9px 34px 10px 31px;
    transform: translate(0);
  }

  .enter__arrow-wrap {
    margin-right: 1px;
  }

  .enter__arrow {
    width: 13px;
    height: 17px;
  }

  .enter__text {
    font-size: 12px;
    line-height: 16px;
  }

  .open-search__icon {
    width: 18px;
    height: 18px;
  }

  /* hero */
  .hero__container {
    align-items: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 44px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 16px;
  }
}
