:root {
  --header-footer-bg: #000000;
  --header-bottom-bg: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --search: rgba(255, 255, 255, 0.85);
  --text: #333333;
  --royal-purple: #7943a4;
  --heliotrope: #c283f3;
  --amethyst: #9d5cd0;
  --drop-bg: rgba(194, 131, 243, 0.4);
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* global styles */
@media (min-width: 1024px) {
  .nav__link:hover:not(:focus-visible) {
    color: var(--heliotrope);
  }

  .enter:hover:not(:focus-visible) {
    color: var(--heliotrope);
  }

  .enter:hover:not(:focus-visible) .enter__arrow-wrap {
    margin-left: -4px;
    padding-left: 4px;
  }

  .dropdown-menu__btn:hover:not(:focus-visible):not(.dropdown-menu__btn--active):not(:active) {
    color: var(--heliotrope);
  }

  .dropdown__link:hover:not(:focus-visible):not(:active):before {
    border-color: var(--amethyst);
  }

  .search__search-btn:hover:not(:focus-visible):not(:active) {
    color: var(--heliotrope);
  }

  .search__input:hover {
    border-bottom-color: var(--heliotrope);
  }
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  min-width: 320px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.link {
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 50px;
}

/* header */
.header__top {
  background-color: var(--header-footer-bg);
}

.header__top-container {
  align-items: center;
  padding-top: 28px;
  padding-bottom: 29px;
}

.burger {
  display: none;
}

.header__logo-link {
  margin-right: 180px;
  transform: translateY(2px);
}

.nav {
  margin-right: auto;
}

.nav__list {
  flex-wrap: wrap;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -4px;
  left: -6px;
  right: -6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.nav__link.focus-visible::before {
  background-color: var(--royal-purple);
}

.nav__link:active:not(:focus-visible) {
  color: var(--amethyst);
}

.enter {
  position: relative;
  z-index: 1;
  align-items: center;
  padding-left: 25px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.enter:active:not(:focus-visible) {
  color: var(--amethyst);
}

.enter::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: 17px;
  right: -8px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.enter.focus-visible::before {
  background-color: var(--royal-purple);
}

.enter__arrow-wrap {
  display: inline-block;
  overflow: hidden;
  margin-right: 6px;
  transition: margin-left 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}

.enter__arrow {
  margin-left: -4px;
  fill: currentColor;
}

.enter:active:not(:focus-visible) .enter__arrow-wrap {
  margin-left: -4px;
  padding-left: 4px;
}

.header__bottom {
  background-color: var(--header-bottom-bg);
}

.header__bottom-container {
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.dropdown-menu {
  flex-wrap: wrap;
  transform: translateX(-2px);
}

.dropdown-menu__item {
  position: relative;
}

.dropdown-menu__item:not(:last-child) {
  margin-right: 97px;
}

.dropdown-menu__btn {
  position: relative;
  z-index: 1;
  padding-right: 16px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.dropdown-menu__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-menu__btn.focus-visible:not(.dropdown-menu__btn--active)::before {
  background-color: var(--royal-purple);
}

.dropdown-menu__btn::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 3px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.dropdown-menu__btn--active {
  color: var(--amethyst);
}

.dropdown-menu__btn--active::after {
  border-color: currentColor;
  transform: rotate(-135deg) translate(-3px, -3px);
}

.dropdown-menu__btn:active {
  color: var(--amethyst);
}

.dropdown-menu__btn:active::after {
  border-color: currentColor;
  transform: rotate(-135deg) translate(-3px, -3px);
}

.dropdown {
  position: absolute;
  left: 0px;
  top: 47px;
  padding: 40px;
  width: 300px;
  background-color: var(--header-bottom-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in-out;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.dropdown__simplebar {
  max-height: 220px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  right: -21px;
  width: 2px;
  background-color: var(--header-footer-bg);
}

.dropdown__simplebar
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  opacity: 1;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  position: relative;
  display: block;
  padding: 9px 14px 12px;
  width: 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dropdown__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown__link.focus-visible::before {
  border-color: var(--amethyst);
}

.dropdown__link:active:not(:focus-visible):before {
  background-color: var(--drop-bg);
}

.dropdown__link--tintoretto {
  background-image: url("../img/tintoretto.jpg");
}

.dropdown__link--fridrih {
  background-image: url("../img/fridrih.jpg");
}

.dropdown__link--leonardo {
  background-image: url("../img/leonardo.jpg");
}

.dropdown__link--verrokkio {
  background-image: url("../img/verrokkio.jpg");
}

.dropdown__link--mone {
  background-image: url("../img/mone.jpg");
}

.dropdown__link--sisley {
  background-image: url("../img/sisley.jpg");
}

.dropdown__link--mane {
  background-image: url("../img/mane.jpg");
}

.dropdown__link--renuar {
  background-image: url("../img/renuar.jpg");
}

.dropdown__link--van-gog {
  background-image: url("../img/van-gog.jpg");
}

.dropdown__link--sezann {
  background-image: url("../img/sezann.jpg");
}

.dropdown__link--gogen {
  background-image: url("../img/gogen.jpg");
}

.dropdown__link--sera {
  background-image: url("../img/sera.jpg");
}

.dropdown__link--kadinskiy {
  background-image: url("../img/kandinskiy.jpg");
}

.dropdown__link--marinetty {
  background-image: url("../img/marinetty.jpg");
}

.dropdown__link--malevich {
  background-image: url("../img/malevich.jpg");
}

.dropdown__link--picasso {
  background-image: url("../img/picasso.jpg");
}

.dropdown__link--karra {
  background-image: url("../img/karra.jpg");
}

.dropdown__link--pratella {
  background-image: url("../img/pratella.jpg");
}

.dropdown__link--severiny {
  background-image: url("../img/severiny.jpg");
}

.dropdown__link--balla {
  background-image: url("../img/balla.jpg");
}

.dropdown__text {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
}

.search {
  align-items: center;
  padding-left: 15px;
}

.search__search-btn {
  margin-right: 10px;
  font-size: 0;
  color: var(--white);
  transform: translateY(2px);
  transition: color 0.3s ease-in-out;
}

.search__search-btn.focus-visible {
  color: var(--royal-purple);
}

.search__search-btn:active {
  color: var(--amethyst);
}

.search__loupe {
  fill: currentColor;
}

.search__input {
  display: inline-block;
  padding: 0;
  padding-bottom: 1px;
  max-width: 218px;
  width: 218px;
  border: none;
  border-bottom: 1px solid var(--search);
  border-radius: 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background: none;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--search);
}

.search__input.focus-visible {
  border-bottom-color: var(--royal-purple);
}

.search__close-btn {
  display: none;
}
