:root {
  --black: #000000;
  --header-bottom-bg: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --search: rgba(255, 255, 255, 0.85);
  --text: #333333;
  --royal-purple: #7943a4;
  --heliotrope: #c283f3;
  --amethyst: #9d5cd0;
  --biloba-flower: #d1a9f0;
  --drop-bg: rgba(194, 131, 243, 0.4);
  --dusty-gray: #999999;
  --select-active-bg: rgba(255, 255, 255, 0.2);
  --dove-gray: #666666;
  --gallery: #ececec;
  --silver: #cacaca;
  --error: #d11616;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* global styles */
@media (min-width: 1024px) {
  .nav__link:hover:not(.focus-visible) {
    color: var(--heliotrope);
  }

  .enter:hover:not(.focus-visible) {
    color: var(--heliotrope);
  }

  .enter:hover:not(.focus-visible) .enter__arrow-wrap {
    margin-left: -4px;
    padding-left: 4px;
  }

  .dropdown-menu__btn:hover:not(.focus-visible):not(.dropdown-menu__btn--active):not(:active) {
    color: var(--heliotrope);
  }

  .dropdown__link:hover:not(.focus-visible):not(:active):before {
    border-color: var(--amethyst);
  }

  .search__search-btn:hover:not(.focus-visible):not(:active) {
    color: var(--heliotrope);
  }

  .search__input:hover {
    border-bottom-color: var(--heliotrope);
  }

  .hero__link:hover:not(.focus-visible) {
    border-color: var(--biloba-flower);
  }

  .choices:hover:not(.focus-visible):not(.is-open):not(:active)
    > .choices__inner {
    background-color: var(--select-active-bg);
  }

  .checkbox__input:hover:not(.focus-visible) + .checkbox__text::before {
    border-color: var(--heliotrope);
  }

  .btn-prev--dark:hover:not(.focus-visible):not(:active):not(.swiper-button-disabled)
    .btn-prev__icon,
  .btn-next--dark:hover:not(.focus-visible):not(:active):not(.swiper-button-disabled)
    .btn-next__icon {
    fill: var(--amethyst);
    stroke: var(--amethyst);
  }

  .gallery-swiper__slide:hover:not(.focus-visible)::after {
    opacity: 1;
  }

  .accordion__btn:hover:not(.focus-visible):not(:active) {
    z-index: 1;
    border-color: var(--amethyst);
  }

  .accordion__item:not(.accordion__item--active)
    .accordion__btn:hover:not(.focus-visible):not(:active)
    .accordion__title {
    color: var(--amethyst);
  }

  .accordion__item:not(.accordion__item--active)
    .accordion__btn:hover:not(.focus-visible):not(:active)
    .accordion__icon {
    fill: var(--biloba-flower);
    stroke: var(--biloba-flower);
  }

  .accordion__painter-btn:hover:not(.focus-visible)::before {
    background-color: var(--amethyst);
  }

  .to-gallery:hover:not(.focus-visible)::after {
    background-color: var(--amethyst);
  }

  .btn-prev--light:hover:not(.focus-visible):not(:active):not(.swiper-button-disabled)
    .btn-prev__icon,
  .btn-next--light:hover:not(.focus-visible):not(:active):not(.swiper-button-disabled)
    .btn-next__icon {
    fill: var(--biloba-flower);
    stroke: var(--biloba-flower);
  }

  .event-card__link:hover:not(.focus-visible) {
    color: var(--royal-purple);
  }

  .event-card__link:hover:not(.focus-visible)::after {
    background-color: var(--royal-purple);
  }

  .tooltip:hover:not(.focus-visible):not(.tooltip--active)
    .tooltip__icon
    path:first-child {
    fill: var(--biloba-flower);
  }

  .projects__link:hover:not(.focus-visible)::after {
    background-color: var(--amethyst);
  }

  .partner:hover:not(:focus-visible) .partner__img {
    filter: grayscale(0);
    opacity: 1;
  }

  .callback__input:hover:not(.focus-visible) {
    background-color: var(--gallery);
  }

  .messenger__link:hover:not(.focus-visible):not(:active) {
    opacity: 0.5;
  }

  .social__link:hover:not(.focus-visible) {
    color: var(--white);
  }
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  min-width: 320px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 50px;
}

.section {
  padding: 80px 0;
}

.section__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text);
}

.section__title--white {
  color: var(--white);
}

.section__descr {
  margin: 0;
  max-width: 1080px;
}

.text {
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

.top-wrap {
  position: relative;
}

/* header */
.header__top {
  background-color: var(--black);
}

.header__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 29px;
}

.burger {
  display: none;
}

.header__logo-link {
  transform: translateY(2px);
}

.nav {
  display: flex;
  width: calc(1248 / 1600 * 100%);
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: calc(967 /1600 * 100%);
}

.nav__item:not(:last-child){
  margin-right: 25px;
}

.nav__link {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -4px;
  left: -6px;
  right: -6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.nav__link.focus-visible::before {
  background-color: var(--royal-purple);
}

.nav__link:active:not(:focus-visible) {
  color: var(--amethyst);
}

.enter {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.enter:active:not(.focus-visible) {
  color: var(--amethyst);
}

.enter::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: 17px;
  right: -8px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.enter.focus-visible::before {
  background-color: var(--royal-purple);
}

.enter__arrow-wrap {
  display: inline-block;
  overflow: hidden;
  margin-right: 6px;
  transition: margin-left 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}

.enter__arrow {
  margin-left: -4px;
  fill: currentColor;
}

.enter:active:not(.focus-visible) .enter__arrow-wrap {
  margin-left: -4px;
  padding-left: 4px;
}

.header__bottom {
  background-color: var(--header-bottom-bg);
}

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  width: calc(1037 / 1600 * 100%);
  transform: translateX(-2px);
}

.dropdown-menu__item {
  position: relative;
}

.dropdown-menu__item:not(:last-child) {
  margin-right: 20px;
}

.dropdown-menu__btn {
  position: relative;
  z-index: 1;
  padding-right: 16px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.dropdown-menu__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-menu__btn.focus-visible:not(.dropdown-menu__btn--active)::before {
  background-color: var(--royal-purple);
}

.dropdown-menu__btn::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 3px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.dropdown-menu__btn--active {
  color: var(--amethyst);
}

.dropdown-menu__btn--active::after {
  border-color: currentColor;
  transform: rotate(-135deg) translate(-3px, -3px);
}

.dropdown-menu__btn:active {
  color: var(--amethyst);
}

.dropdown-menu__btn:active::after {
  border-color: currentColor;
  transform: rotate(-135deg) translate(-3px, -3px);
}

.dropdown {
  position: absolute;
  left: 0px;
  top: 47px;
  padding: 40px;
  width: 300px;
  background-color: var(--header-bottom-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in-out;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.dropdown__simplebar {
  max-height: 220px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  right: -21px;
  width: 2px;
  background-color: var(--black);
}

.dropdown__simplebar
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  opacity: 1;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  position: relative;
  display: block;
  padding: 9px 14px 12px;
  width: 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dropdown__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown__link.focus-visible::before {
  border-color: var(--amethyst);
}

.dropdown__link:active:not(.focus-visible):before {
  background-color: var(--drop-bg);
}

.dropdown__link--tintoretto {
  background-image: url("../img/tintoretto.jpg");
}

.dropdown__link--fridrih {
  background-image: url("../img/fridrih.jpg");
}

.dropdown__link--leonardo {
  background-image: url("../img/leonardo.jpg");
}

.dropdown__link--verrokkio {
  background-image: url("../img/verrokkio.jpg");
}

.dropdown__link--mone {
  background-image: url("../img/mone.jpg");
}

.dropdown__link--sisley {
  background-image: url("../img/sisley.jpg");
}

.dropdown__link--mane {
  background-image: url("../img/mane.jpg");
}

.dropdown__link--renuar {
  background-image: url("../img/renuar.jpg");
}

.dropdown__link--van-gog {
  background-image: url("../img/van-gog.jpg");
}

.dropdown__link--sezann {
  background-image: url("../img/sezann.jpg");
}

.dropdown__link--gogen {
  background-image: url("../img/gogen.jpg");
}

.dropdown__link--sera {
  background-image: url("../img/sera.jpg");
}

.dropdown__link--kadinskiy {
  background-image: url("../img/kandinskiy.jpg");
}

.dropdown__link--marinetty {
  background-image: url("../img/marinetty.jpg");
}

.dropdown__link--malevich {
  background-image: url("../img/malevich.jpg");
}

.dropdown__link--picasso {
  background-image: url("../img/picasso.jpg");
}

.dropdown__link--karra {
  background-image: url("../img/karra.jpg");
}

.dropdown__link--pratella {
  background-image: url("../img/pratella.jpg");
}

.dropdown__link--severiny {
  background-image: url("../img/severiny.jpg");
}

.dropdown__link--balla {
  background-image: url("../img/balla.jpg");
}

.dropdown__text {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
}

.search {
  display: flex;
  align-items: center;
  padding-left: 15px;
  min-width: 185px;
  width: calc(266 / 1600 * 100%);
}

.search__search-btn {
  margin-right: 10px;
  font-size: 0;
  color: var(--white);
  transform: translateY(2px);
  transition: color 0.3s ease-in-out;
}

.search__search-btn.focus-visible {
  color: var(--royal-purple);
}

.search__search-btn:active {
  color: var(--amethyst);
}

.search__loupe {
  fill: currentColor;
}

.search__input {
  display: inline-block;
  padding: 0;
  padding-bottom: 1px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--search);
  border-radius: 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background: none;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--search);
}

.search__input.focus-visible {
  border-bottom-color: var(--royal-purple);
}

.search__close-btn {
  display: none;
}

/* hero */
.hero {
  padding: 63px 0 123px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 89px;
  max-width: 550px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  transform: translateY(-3px);
  color: var(--white);
}

.hero__link {
  position: relative;
  padding: 19px 32px;
  border: 3px solid var(--amethyst);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background-color: var(--amethyst);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__link::before {
  content: "";
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color 0.3s ease-in-out;
}

.hero__link.focus-visible::before {
  border-color: var(--heliotrope);
}

.hero__link:active:not(.focus-visible) {
  border-color: var(--biloba-flower);
  background-color: var(--royal-purple);
}

.top-swiper {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.top-swiper__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.top-swiper__slide {
  background-color: var(--header-bottom-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-swiper__slide--first {
  background-image: url("../img/hero-1.jpg");
}

.top-swiper__slide--second {
  background-image: url("../img/hero-2.jpg");
}

.top-swiper__slide--third {
  background-image: url("../img/hero-3.jpg");
}

/* about us */
.about-us {
  padding-bottom: 70px;
}

/* gallery */
.gallery {
  background-image: url("../img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
  min-height: 435px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.gallery__filter {
  margin-bottom: auto;
}

.filter__text {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--white);
}

.choices__inner {
  position: relative;
  z-index: 2;
  border-color: var(--white);
  border-radius: 6px;
  min-height: auto;
  background-color: transparent;
  font-size: 16px;
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.choices.focus-visible:not(.is-open) .choices__inner {
  border-color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:active:not(.is-open) > .choices__inner {
  background-color: transparent;
}

.is-open .choices__inner {
  border-color: var(--white);
  border-radius: 6px;
  background-color: transparent;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 10px 15px;
  padding-bottom: 9px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--single {
  padding: 0;
  padding-right: 16px;
}

.choices[data-type*="select-one"]::after {
  right: 16px;
  margin: 0;
  border: none;
  border-right: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  height: 8px;
  width: 8px;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.choices[data-type*="select-one"].is-open::after {
  margin: 0;
  border-color: var(--white);
  transform: rotate(-135deg);
}

.is-selected {
  display: none;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.is-open .choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  border-color: var(--dusty-gray);
  border-radius: 6px;
  background-color: transparent;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  max-height: 160px;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 10px 20px;
  border-bottom: 1px solid var(--dusty-gray);
  color: var(--dusty-gray);
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--white);
  background-color: var(--select-active-bg);
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.checkbox {
  cursor: pointer;
}

.checkbox__text {
  position: relative;
  padding-left: 24px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border: 1px solid var(--white);
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  transition: border-color 0.3s ease-in-out;
}

.checkbox__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: transparent;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}

.checkbox__input.focus-visible + .checkbox__text {
  color: var(--heliotrope);
}
.checkbox__input.focus-visible + .checkbox__text::before {
  border-color: var(--heliotrope);
}

.checkbox:active .checkbox__text {
  color: var(--heliotrope);
}
.checkbox:active .checkbox__text::before {
  border-color: var(--heliotrope);
}

.checkbox:active .checkbox__text::after {
  background-color: var(--heliotrope);
}

.checkbox__input:checked + .checkbox__text::after {
  background-color: var(--heliotrope);
}

.gallery__right {
  padding-top: 25px;
  width: calc(1150 / 1600 * 100%);
}

.swiper-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 3px;
}

.btn-prev,
.btn-next {
  font-size: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn-prev--dark {
  margin-right: 18px;
}

.btn-prev__icon,
.btn-next__icon {
  fill: var(--dove-gray);
  stroke: var(--dove-gray);
  transition-property: fill, stroke;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn-prev__icon path:last-child,
.btn-next__icon path:last-child {
  stroke: var(--white);
}

.btn-prev__icon {
  transform: rotate(180deg);
}

.btn-prev--dark.focus-visible .btn-prev__icon,
.btn-next--dark.focus-visible .btn-next__icon {
  stroke: var(--black);
}

.btn-prev--dark:active:not(.focus-visible):not(.swiper-button-disabled)
  .btn-prev__icon,
.btn-next--dark:active:not(.focus-visible):not(.swiper-button-disabled)
  .btn-next__icon {
  fill: var(--royal-purple);
  stroke: var(--black);
}

.btn-prev.swiper-button-disabled,
.btn-next.swiper-button-disabled {
  cursor: auto;
}

.btn-prev--dark.swiper-button-disabled .btn-prev__icon,
.btn-next--dark.swiper-button-disabled .btn-next__icon {
  fill: var(--gallery);
  stroke: var(--gallery);
}

.btn-prev--dark.swiper-button-disabled .btn-prev__icon path:last-child,
.btn-next--dark.swiper-button-disabled .btn-next__icon path:last-child {
  stroke: var(--silver);
}

.swiper-navigation__pagination {
  position: static;
  margin-right: 19px;
  width: auto;
  color: var(--white);
}

.gallery-swiper__slide {
  position: relative;
  font-size: 0;
}

.gallery-swiper__slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.gallery-swiper__slide::after {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  background: var(--header-bottom-bg) url("../img/loupe.svg") no-repeat center
    44%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-swiper__slide.focus-visible::before {
  border-color: var(--royal-purple);
}

.gallery-swiper__slide:active:not(.focus-visible):before {
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery-swiper__slide:active:not(.focus-visible)::after {
  opacity: 1;
}

/* catalog */
.catalog {
  padding-bottom: 40px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.catalog__descr {
  margin-bottom: 39px;
}

.catalog__left {
  width: calc(750 / 1600 * 100%);
}

.painter-card {
  display: none;
}

.painter-card__img {
  margin-bottom: 26px;
}

.painter-card__name {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text);
}

.painter-card__lifetime {
  display: block;
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 16px;
  color: var(--dusty-gray);
}

.painter-card__descr {
  margin: 0;
}

.empty-card {
  display: none;
}

.empty-card__descr {
  margin-bottom: 15px;
}

.painter-card--active {
  display: block;
}

.accordion {
  width: calc(800 / 1600 * 100%);
}

.accordion__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  padding: 32px 0;
  border-top: 1px solid var(--silver);
  border-bottom: 1px solid var(--silver);
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.accordion__title {
  margin: 0;
  padding-right: 7px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.accordion__icon {
  fill: var(--gallery);
  stroke: var(--gallery);
  transform: rotate(180deg);
  transition-property: fill, stroke, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.accordion__item:not(.accordion__item--active)
  .accordion__btn.focus-visible
  .accordion__title {
  background-color: var(--amethyst);
  color: var(--white);
}

.accordion__item:not(.accordion__item--active)
  .accordion__btn.focus-visible
  .accordion__icon {
  fill: var(--biloba-flower);
  stroke: var(--biloba-flower);
}

.accordion__btn:active:not(.focus-visible) {
  z-index: 1;
  border-color: var(--royal-purple);
}

.accordion__btn:active:not(.focus-visible) .accordion__title {
  color: var(--royal-purple);
}

.accordion__btn:active:not(.focus-visible) .accordion__icon {
  fill: var(--biloba-flower);
  stroke: var(--royal-purple);
  transform: rotate(0);
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
}

.accordion__content-wrap {
  padding: 26px 0;
}

.accordion__painter-list {
  columns: 3;
}

.accordion__item.accordion__item--active .accordion__btn {
  border-color: var(--royal-purple);
}

.accordion__item.accordion__item--active .accordion__title {
  color: var(--royal-purple);
}

.accordion__item.accordion__item--active .accordion__icon {
  fill: var(--biloba-flower);
  stroke: var(--royal-purple);
  transform: rotate(0);
}

.accordion__item.accordion__item--active .accordion__content {
  visibility: visible;
}

.accordion__painter-btn {
  position: relative;
  padding-right: 3px;
  transition: background-color 0.3s ease-in-out;
}

.accordion__painter-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.accordion__painter-btn.focus-visible {
  background-color: var(--amethyst);
}

.accordion__painter-btn:active:not(.focus-visible)::before {
  background-color: transparent;
}

.temporary-stub {
  display: flex;
  align-items: center;
}

.temporary-stub__left {
  position: relative;
  margin-right: 24px;
  padding: 12px;
  border: 2px solid var(--dusty-gray);
  max-width: 275px;
  width: 100%;
  min-height: 189px;
}

.temporary-stub__left::before {
  content: "";
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  background-color: var(--dusty-gray);
}

.temporary-stub__right {
  max-width: 275px;
}

.temporary-stub-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
}

.temporary-stub-descr {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  color: var(--text);
}

.to-gallery {
  position: relative;
  z-index: 111;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--amethyst);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.to-gallery::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px;
  bottom: -3px;
  left: -6px;
  right: -6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.to-gallery::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.to-gallery.focus-visible {
  color: var(--white);
  transform: translateX(6px);
}

.to-gallery.focus-visible::before {
  background-color: var(--amethyst);
}

.to-gallery:active:not(.focus-visible) {
  color: var(--royal-purple);
}
.to-gallery:active:not(.focus-visible)::after {
  background-color: var(--royal-purple);
}

/* events */
.events {
  padding: 40px 0;
}

.events__content {
  position: relative;
}

.btn-prev--light,
.btn-next--light {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.btn-prev--light {
  left: 0;
}

.btn-next--light {
  right: 0;
}

.btn-prev--light-big {
  left: -25px;
}

.btn-next--light-big {
  right: -25px;
}

.btn-prev--light .btn-prev__icon,
.btn-next--light .btn-next__icon {
  fill: var(--gallery);
  stroke: var(--gallery);
}

.btn-prev--light .btn-prev__icon path:last-child,
.btn-next--light .btn-next__icon path:last-child {
  stroke: var(--black);
}

.btn-prev--light.focus-visible .btn-prev__icon,
.btn-next--light.focus-visible .btn-next__icon {
  stroke: var(--amethyst);
}

.btn-prev--light:active:not(.focus-visible):not(.swiper-button-disabled)
  .btn-prev__icon,
.btn-next--light:active:not(.focus-visible):not(.swiper-button-disabled)
  .btn-next__icon {
  fill: var(--biloba-flower);
  stroke: var(--amethyst);
}

.btn-prev--light-big.swiper-button-disabled,
.btn-next--light-big.swiper-button-disabled {
  opacity: 0;
}

.event-card__img {
  display: block;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  padding: 14px 50px 40px;
  border: 1px solid var(--silver);
  border-top: none;
  min-height: 345px;
}

.event-card__museum,
.event-card__duration {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--dusty-gray);
}

.event-card__duration {
  margin-bottom: 12px;
}

.event-card__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text);
}

.event-card__descr {
  margin: 0;
  margin-bottom: 15px;
}

.event-card__link {
  position: relative;
  z-index: 1;
  align-self: start;
  margin-top: auto;
  color: var(--amethyst);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.event-card__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  bottom: -5px;
  left: -8px;
  right: -8px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.event-card__link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--amethyst);
  transition: background-color 0.3s ease-in-out;
}

.event-card__link.focus-visible {
  color: var(--white);
  transform: translateX(8px);
}

.event-card__link.focus-visible::before {
  background-color: var(--amethyst);
}

.event-card__link.focus-visible::after {
  background-color: var(--white);
}

.event-card__link:active:not(.focus-visible) {
  color: var(--text);
}

.event-card__link:active:not(.focus-visible)::after {
  background-color: var(--text);
}

/* projects */
.projects {
  padding-top: 40px;
  border-bottom: 1px solid var(--silver);
}

.projects__descr {
  margin-bottom: 20px;
  max-width: 1070px;
}

.tooltip {
  position: relative;
  font-size: 0;
  transform: translateY(3px);
}

.tooltip__icon path:first-child {
  fill: var(--white);
  stroke: var(--amethyst);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.tooltip__icon path:last-child {
  fill: var(--black);
  stroke: none;
  transition: fill 0.3s ease-in-out;
}

.tooltip.focus-visible .tooltip__icon path:first-child {
  fill: var(--biloba-flower);
}

.tooltip:active:not(.focus-visibe) .tooltip__icon path:first-child {
  fill: var(--amethyst);
  stroke: var(--amethyst);
}

.tooltip:active:not(.focus-visibe) .tooltip__icon path:last-child {
  fill: var(--white);
}

.tooltip--active .tooltip__icon path:first-child {
  fill: var(--amethyst);
  stroke: var(--amethyst);
}

.tooltip--active .tooltip__icon path:last-child {
  fill: var(--white);
}

.tippy-box[data-theme~="projects-tooltips"] {
  text-align: center;
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--amethyst);
}

.tippy-box[data-theme~="projects-tooltips"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--amethyst);
}
.tippy-box[data-theme~="projects-tooltips"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--amethyst);
}
.tippy-box[data-theme~="projects-tooltips"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--amethyst);
}
.tippy-box[data-theme~="projects-tooltips"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--amethyst);
}

.projects__link {
  position: relative;
  color: var(--amethyst);
  transition: color 0.3s ease-in-out;
}

.projects__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  bottom: 2px;
  left: -5px;
  right: -5px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.projects__link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.projects__link.focus-visible {
  color: var(--white);
}

.projects__link.focus-visible::before {
  background-color: var(--amethyst);
}

.projects__link:active:not(.focus-visible) {
  color: var(--royal-purple);
}
.projects__link:active:not(.focus-visible)::after {
  background-color: var(--royal-purple);
}

.projects__partners-title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
}

.partners__content {
  position: relative;
  padding: 0 75px;
}

.btn-prev--light.swiper-button-disabled .btn-prev__icon,
.btn-next--light.swiper-button-disabled .btn-next__icon {
  fill: var(--gallery);
  stroke: var(--gallery);
}

.btn-prev--light.swiper-button-disabled .btn-prev__icon path:last-child,
.btn-next--light.swiper-button-disabled .btn-next__icon path:last-child {
  stroke: var(--silver);
}

.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--silver);
  min-height: 148px;
  background-color: var(--white);
  transition: border-color 0.3s ease-in-out;
}

.partner__img {
  filter: grayscale(1);
  opacity: 0.3;
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.partner.focus-visible {
  border-color: var(--amethyst);
}

.partner:active:not(.focus-visible) {
  border-color: var(--amethyst);
}

.partner:active:not(.focus-visible) .partner__img {
  filter: grayscale(0);
  opacity: 1;
}

/* contacts */
.contacts__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0;
}

.address {
  display: flex;
  flex-direction: column;
  width: calc(256 / 1600 * 100%);
  font-style: normal;
}

.address__place {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
}

.callback {
  display: flex;
  justify-content: space-between;
  width: calc(909 / 1600 * 100%);
}

.callback__input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(270 / 909 * 100%);
}

.callback__input {
  padding: 9px 24px;
  border: 1px solid var(--text);
  border-radius: 100px;
  outline: none;
  max-width: 270px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.callback__input::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--dusty-gray);
}

.callback__input.callback__input--invalid {
  border-color: var(--error);
}

.lable-invalid {
  position: absolute;
  top: -16px;
  left: 25px;
  font-size: 12px;
  line-height: 16px;
  color: var(--error) !important;
}

.callback__btn {
  position: relative;
  padding: 10px 33px;
  border: 2px solid var(--amethyst);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--amethyst);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.callback__btn::before {
  content: "";
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color 0.3s ease-in-out;
}

.callback__btn::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 3px solid transparent;
  border-radius: 100px;
  transition: border-color 0.3s ease-in-out;
}

.callback__btn.focus-visible::before {
  border-color: var(--heliotrope);
}

.callback__btn:hover:not(:focus-visible) {
  color: white;
  background-color: var(--amethyst);
}

.callback__btn:active:not(:focus-visible) {
  color: var(--white);
  background-color: var(--royal-purple);
}

.callback__btn:active:not(:focus-visible)::after {
  border-color: var(--biloba-flower);
}

.messenger {
  width: calc(276 / 1600 * 100%);
}

.messenger__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
}

.messenger__list {
  display: flex;
}

.messenger__item {
  font-size: 0;
}

.messenger__item:not(:last-child) {
  margin-right: 20px;
}

.messenger__link {
  position: relative;
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.messenger__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;
}

.messenger__link.focus-visible {
  opacity: 0.5;
}

.messenger__link:active:not(.focus-visible)::before {
  border-color: var(--amethyst);
}

.map {
  margin: 0 auto;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */
.footer {
  padding: 48px 0 45px;
  background-color: var(--black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: inline-block;
  color: var(--silver);
  transition: color 0.3s ease-in-out;
}

.social__icon {
  fill: currentColor;
}

.social__link.focus-visible {
  color: var(--white);
}

.social__link:active:not(.focus-visible) {
  color: var(--amethyst);
}
