:root {
  --header-footer-bg: #000000;
  --header-bottom-bg: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --search: rgba(255, 255, 255, 0.85);
  --text: #333333;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* global styles */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  min-width: 320px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 50px;
}

/* header */
.header__top {
  background-color: var(--header-footer-bg);
}

.header__top-container {
  align-items: center;
  padding-top: 28px;
  padding-bottom: 29px;
}

.burger {
  display: none;
}

.header__logo-link {
  margin-right: 180px;
  transform: translateY(2px);
}

.nav {
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.enter__svg {
  margin-right: 2px;
}

.enter__text {
  font-size: 18px;
  line-height: 25px;
  color: white;
}

.header__bottom {
  background-color: var(--header-bottom-bg);
}

.header__bottom-container {
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.dropdown-menu {
  transform: translateX(-2px);
}

.dropdown-menu__item {
  position: relative;
}

.dropdown-menu__item:not(:last-child) {
  margin-right: 97px;
}

.dropdown-menu__btn {
  position: relative;
  padding-right: 16px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.dropdown-menu__btn::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 3px;
  border-right: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
}

.dropdown {
  position: absolute;
  left: 0px;
  top: 47px;
  padding: 40px;
  width: 300px;
  background-color: var(--header-bottom-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visivility 0.3s ease-in-out;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  display: block;
  padding: 9px 14px 12px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dropdown__link--tintoretto {
  background-image: url("../img/tintoretto.jpg");
}

.dropdown__link--fridrih {
  background-image: url("../img/fridrih.jpg");
}

.dropdown__link--leonardo {
  background-image: url("../img/leonardo.jpg");
}

.dropdown__link--verrokkio {
  background-image: url("../img/verrokkio.jpg");
}

.dropdown__link--mone {
  background-image: url("../img/mone.jpg");
}

.dropdown__link--sisley {
  background-image: url("../img/sisley.jpg");
}

.dropdown__link--mane {
  background-image: url("../img/mane.jpg");
}

.dropdown__link--renuar {
  background-image: url("../img/renuar.jpg");
}

.dropdown__link--van-gog {
  background-image: url("../img/van-gog.jpg");
}

.dropdown__link--sezann {
  background-image: url("../img/sezann.jpg");
}

.dropdown__link--gogen {
  background-image: url("../img/gogen.jpg");
}

.dropdown__link--sera {
  background-image: url("../img/sera.jpg");
}

.dropdown__link--kadinskiy {
  background-image: url("../img/kandinskiy.jpg");
}

.dropdown__link--marinetty {
  background-image: url("../img/marinetty.jpg");
}

.dropdown__link--malevich {
  background-image: url("../img/malevich.jpg");
}

.dropdown__link--picasso {
  background-image: url("../img/picasso.jpg");
}

.dropdown__link--karra {
  background-image: url("../img/karra.jpg");
}

.dropdown__link--pratella {
  background-image: url("../img/pratella.jpg");
}

.dropdown__link--severiny {
  background-image: url("../img/severiny.jpg");
}

.dropdown__link--balla {
  background-image: url("../img/balla.jpg");
}

.search {
  align-items: center;
}

.search__search-btn {
  margin-right: 10px;
  transform: translateY(4px);
}

.search__input {
  display: inline-block;
  padding: 0;
  padding-bottom: 1px;
  max-width: 218px;
  width: 218px;
  border: none;
  border-bottom: 1px solid var(--search);
  border-radius: 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background: none;
  outline: none;
}

.search__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--search);
}

.search__close-btn {
  display: none;
}
